/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 62.5%;
}
.subheader {
  font-weight: bold;
  font-size: 2.8rem;
  color: #222222;
  margin-bottom: 3%;
}
.container {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  height: 100%;
  font-family: Roboto, Arial, sans-serif;
  font-weight: regular;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.container .top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5%;
  width: 100%;
  background-color: #98a4af;
}
.container .top-header h1 {
  font-weight: 550;
  line-height: 4rem;
  color: #ffffff;
  font-size: 2.3rem;
  margin-left: 10%;
}
.container .top-header #hamburger {
  height: 45%;
  margin-right: 10%;
}
.container #header-words {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-top: 40%;
  padding-left: 9.7%;
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 7.5rem;
  color: #ffffff;
}
@media (max-width: 500px) {
  .container #header-words {
    font-size: 4rem;
    line-height: 4.5rem;
  }
}
.container .jumbotron {
  width: 100%;
}
.container .jumbotron img {
  width: 100%;
}
.container .main-body {
  padding-left: 5%;
  padding-right: 5%;
}
.container .main-body .main-content {
  width: 98%;
  padding-top: 3%;
  display: flex;
  flex-direction: column;
}
.container .main-body .main-content img,
.container .main-body .main-content .content {
  width: 50%;
}
.container .main-body .main-content .content-item {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}
.container .main-body .main-content .content-item .content {
  margin-right: 3%;
}
.container .main-body .main-content .content-item .content button {
  margin-top: 5%;
  width: 20%;
  padding-top: 2%;
  padding-bottom: 2%;
  border: 1px solid black;
  background-color: white;
}
.container .main-body .main-content .content-item .content button:hover {
  color: #ffffff;
  background-color: #222222;
}
.container .main-body .main-content .content-item-reverse {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 2%;
}
.container .main-body .main-content .content-item-reverse .content {
  margin-left: 3%;
}
.container .main-body .main-content .content-item-reverse .content button {
  margin-top: 5%;
  width: 20%;
  padding-top: 2%;
  padding-bottom: 2%;
  border: 1px solid black;
  background-color: white;
}
.container .main-body .main-content .content-item-reverse .content button:hover {
  color: #ffffff;
  background-color: #222222;
}
.container .main-body .projects .subheader {
  margin-top: 5%;
}
.container .main-body .projects .project-item {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container .main-body .projects .project-item img {
  width: 100%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 7%;
}
.container .main-body .projects .project-item img[src="img/home/home-villas-img.png"] {
  margin-top: 0;
}
.container .main-body .projects .project-item .right-title {
  position: absolute;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 1rem;
  width: 30%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #D8D8D8;
  border: 1px solid #ffffff;
  margin-left: 60%;
  margin-top: 20%;
}
.container .main-body .projects .project-item .right-title-blocks {
  position: absolute;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 1rem;
  width: 30%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #D8D8D8;
  border: 1px solid #ffffff;
  margin-left: 60%;
  margin-top: 24%;
}
.container .main-body .projects .project-item .left-title {
  position: absolute;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 1rem;
  width: 30%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #D8D8D8;
  border: 1px solid #ffffff;
  margin-top: 24.5%;
}
.container .main-body .projects .project-item .first-p {
  margin-bottom: 2%;
}
.container .main-body .projects .project-item p {
  margin: 0 auto;
  width: 40%;
}
.container .main-body .projects .project-item .last-p {
  margin-bottom: 5%;
}
.container .footer-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #828282;
}
.container .footer-area .footer-content {
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
  padding-bottom: 3%;
  margin-left: 5%;
  margin-right: 5%;
}
.container .footer-area .footer-content .footer-item h2 {
  font-weight: regular;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #ffffff;
}
.container .footer-area .footer-content .footer-item input {
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 1% 0 1% 0;
  border: none;
  border: 1px solid;
  border-radius: 2px;
  color: gray;
}
.container .footer-area .footer-content .footer-item p {
  font-size: 1.2rem;
  color: white;
}
.container .footer-area .footer-content .footer-item .disclaimer {
  font-size: 1rem;
  color: white;
}
.container .footer-area p {
  margin: 0 auto;
  font-size: 1.2rem;
  color: white;
}
@media (max-width: 500px) {
  .container .top-header {
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: space-between;
  }
  .container .top-header h1 {
    font-size: 2.5rem;
  }
  .container .top-header img {
    display: block;
    height: 20px;
    width: 7%;
  }
  .container #header-words {
    padding-left: 5%;
    padding-top: 21%;
  }
  .container .main-body {
    padding: 0 0 0 0;
  }
  .container .main-body .main-content {
    width: 100%;
    padding: 0 5% 0 5%;
    flex-direction: column;
    align-items: center;
  }
  .container .main-body .main-content img,
  .container .main-body .main-content .content {
    width: 100%;
  }
  .container .main-body .main-content .content-item {
    width: 100%;
    flex-direction: column-reverse;
  }
  .container .main-body .main-content .content-item .content {
    margin: 0 0 0 0;
  }
  .container .main-body .main-content .content-item .content h2 {
    margin-top: 5%;
  }
  .container .main-body .main-content .content-item .content p {
    margin-top: 5%;
  }
  .container .main-body .main-content .content-item .content .button {
    margin-bottom: 5%;
    font-size: 2rem;
    width: 100%;
  }
  .container .main-body .main-content .content-item-reverse {
    width: 100%;
    flex-direction: column-reverse;
  }
  .container .main-body .main-content .content-item-reverse .content {
    margin: 0 0 0 0;
  }
  .container .main-body .main-content .content-item-reverse .content h2 {
    margin-top: 5%;
  }
  .container .main-body .main-content .content-item-reverse .content p {
    margin-top: 5%;
  }
  .container .main-body .main-content .content-item-reverse .content .button {
    margin-bottom: 5%;
    font-size: 2rem;
    width: 100%;
  }
  .container .main-body .projects {
    margin: 0 1% 0 1%;
  }
  .container .main-body .projects .subheader {
    margin-left: 3%;
    margin-bottom: 7%;
  }
  .container .main-body .projects .project-item img {
    height: 200px;
  }
  .container .main-body .projects .project-item .right-title,
  .container .main-body .projects .project-item .left-title,
  .container .main-body .projects .project-item .right-title-blocks {
    border: none;
    width: 90%;
    height: 12%;
    padding-top: 10%;
    padding-bottom: 0%;
    margin: 40% 0 0 4%;
  }
  .container .main-body .projects .project-item .left-title,
  .container .main-body .projects .project-item .right-title-blocks {
    margin-top: 45%;
  }
  .container .main-body .projects .project-item .first-p {
    margin-top: 20%;
  }
  .container .main-body .projects .project-item p {
    margin-top: 2%;
    width: 91%;
  }
  .container .footer-area {
    width: 98%;
    margin-left: 1%;
    margin-right: 3%;
  }
  .container .footer-area .footer-content {
    margin: 0 0 0 4.5%;
    flex-direction: column;
  }
  .container .footer-area .footer-content .footer-item {
    margin-bottom: 5%;
  }
  .container .footer-area .copyright {
    margin: 0 0 5% 4.5%;
  }
}
.services-page #header-words {
  padding: 0 0 0 0;
}
.services-page #header-words .jumbo-header {
  margin-top: 15%;
  margin-left: 11.5%;
  position: absolute;
}
.services-page .services-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% 11.5% 5% 11.5%;
}
.services-page .services-content p {
  margin: 0 auto;
}
.services-page .services-content .services-navigation {
  display: flex;
  justify-content: space-between;
}
.services-page .services-content .services-navigation .service {
  margin-top: 5%;
  width: 20%;
  padding-top: 2%;
  padding-bottom: 2%;
  border: 1px solid black;
  background-color: white;
  font-size: 2rem;
  font-weight: bold;
}
.services-page .services-content .services-navigation .service:hover {
  color: #ffffff;
  background-color: #222222;
}
.services-page .services-content .services-navigation .service:hover {
  background-color: #5E9FB9;
}
.services-page .services-content .tab-services .tab-content {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
}
.services-page .services-content .tab-services .tab-content h2 {
  font-weight: bold;
  font-size: 2.8rem;
  color: #222222;
  margin: 5% 0 4% 0;
}
.services-page .services-content .tab-services .tab-content .content {
  display: flex;
  justify-content: space-between;
}
.services-page .services-content .tab-services .tab-content .content .text {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.services-page .services-content .tab-services .tab-content .content .text .first-p {
  margin-bottom: 5%;
}
.services-page .services-content .tab-services .toggle {
  display: flex;
}
