/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */

@import "mixins.less";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

.subheader {
  .sub-headers;
  margin-bottom: 3%;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  height: 100%;
  font-family: Roboto, Arial, sans-serif;
  .general-text;

  .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5%;
    width: 100%;
    background-color: #98a4af;

    h1 {
      font-weight: 550;
      line-height: 4rem;
      color: #ffffff;
      font-size: 2.3rem;
      margin-left: 10%;
    }

    img {
      height: 45%;
      margin-right: 10%;
    }
  }

  #header-words {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-top: 40%;
    padding-left: 9.7%;
    .jumbotron-headers
  }

  .jumbotron {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .main-body {
    padding-left: 5%;
    padding-right: 5%;
  

    .main-content {
      width: 98%;
      padding-top: 3%;
      display: flex;
      flex-direction: column;

      img, .content {
        width: 50%;
      }

      .content-item {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 2%;

        .content {
          margin-right: 3%;

          button {
            .button-styles;
          }
        }
      }

      .content-item-reverse {
        width: 98%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-bottom: 2%;

        .content {
          margin-left: 3%;

          button {
            .button-styles;
          }
        }
      }
    }

    .projects {
      .subheader {
        margin-top: 5%;
      }

      .project-item {
        width: 100%;
        display: flex;
        flex-direction: column;

        img {
          width: 100%;
          margin: 0 auto;
          margin-top: 5%;
        }

        img[src="img/home/home-villas-img.png"] {
          margin-top: 0;
        }

        h2 {
          position: absolute;
          text-align: center;
          letter-spacing: 2px;
          width: 10%;
          padding-top: 1%;
          padding-bottom: 1%;
          background-color: #D8D8D8;
          border: 1px solid #ffffff;
        }
      }
    }


  }
}
