.general-text() {
  font-weight: regular;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.jumbotron-headers() {
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 7.5rem;
  color: #ffffff;
}

.sub-headers() {
  font-weight: bold;
  font-size: 2.8rem;
  color: #222222;
}

.footer-headers() {
  font-weight: regular;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #ffffff;
}

.footer-text() {
  font-weight: regular;
  font-size: 1.4rem;
  line-height: 2.6rem;
  color: #ffffff;
}

.navigation-logo() {
  font-weight: bold;
  font-size: 2.4rem;
  color: #ffffff;
}

.navigation-text-ex() {
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 8.5rem;
  color: #ffffff;

  &:hover {
    color: #222222;
  }
}

.button-styles() {
  margin-top: 5%;
  width: 20%;
  padding-top: 2%;
  padding-bottom: 2%;
  border: 1px solid black;
  background-color: white;

  &:hover {
    color: #ffffff;
    background-color: #222222;
  }
}